POSTGRES_DB=melody_bubble
POSTGRES_USER=melody
POSTGRES_PASSWORD=
RABBITMQ_USER=melody
RABBITMQ_PASSWORD=
JWT_SECRET=
OPS_USERNAME=ops
OPS_PASSWORD=
DEMO_SEED_ENABLED=true
GOOGLE_WEB_CLIENT_ID=170698756702-dactjs85sco3reamftdjjt2brvd396cn.apps.googleusercontent.com
