POSTGRES_DB=melody_bubble
POSTGRES_USER=melody
POSTGRES_PASSWORD=
RABBITMQ_USER=melody
RABBITMQ_PASSWORD=
WEBSOCKET_BROKER_RELAY_ENABLED=true
WEBSOCKET_BROKER_RELAY_HOST=rabbitmq
WEBSOCKET_BROKER_RELAY_PORT=61613
WEBSOCKET_BROKER_RELAY_VIRTUAL_HOST=/
JWT_SECRET=
OPS_USERNAME=ops
OPS_PASSWORD=
DEMO_SEED_ENABLED=true
GOOGLE_WEB_CLIENT_ID=170698756702-dactjs85sco3reamftdjjt2brvd396cn.apps.googleusercontent.com
